@model BikeshopAdvanced.Models.ShoppingBag

@{
    ViewData["Title"] = "ShoppingBag";
}

<h1>Shopping bag</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.Customer.UserName)
        </dt>
    </dl>
</div>
<table>
    @foreach (var item in Model.ShoppingItems)
    {
        <tr>
            <td class="col-sm-2">
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td class="col-sm-6">
                aantal:
                @Html.DisplayFor(modelItem => item.Quentity)
            </td>
            <td class="col-sm-10">
                @Html.DisplayFor(modelItem => item.Product.Price) €
            </td>
        </tr>
    }
</table>